/*303139*/
:root {
    --darkgrey:#303139; 
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(91, 92, 92);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    background-color: var(--darkgrey);
}

header h1 { 
    cursor: pointer;
    background-color: rgb(58, 129, 129);
    color: var(--darkgrey);
    margin-right: auto;
    padding: 5px 20px 5px 150px;
    font-size: 70px;
}

header nav {
    list-style: none;
    padding: 0px 60px 0px 0px;                                  
}

header nav ul li {
    display: inline-block;
    padding: 4px 7px; 
    margin: 0px 20px;
    border-bottom: solid 2px rgb(58, 129, 129);
    color: rgb(58, 129, 129);
    cursor: pointer;
}   

.hero {
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('images/Banner\ Canva.png');
    padding: 100px;
}

.hero h2 {  
    position: absolute;
    bottom: 40px;
    right: 50px;
    vertical-align: center;
    align-content: center;
    background-color: red;
    padding: 5px;
}   


.content {
    flex-direction: column;
}

.content section {
    display: flex;
    color: rgb(58, 129, 129);
}

.content section div:nth-child(odd) {
    flex: .3;
    padding-left: 5px;
    width: max-content;
}

.content section div:nth-child(even) {
    border-left: solid red;
    padding-left: 40px;
}

.content section div{
    flex: 1;
    padding: 5px;
    margin: 20px;
}


/*
.content section div {
    flex:1;
}

.content section div h3{
    font-size: 40px;
    width: max-content;
    flex: 1;
    padding-left: 5px;
    margin: 20px 20px 20px 100px;
}
.content section div p {
    flex: 1;
    padding: 5px;
    margin: 20px;
    border-left: solid red;
}

.content section div ul {
    list-style: none;
    flex: 1;
    padding: 5px;
    margin: 20px;
    border-left: solid red;
}

.content section div ul li {
    display: inline-block;
    padding: 0px 10px; 
    text-underline-offset: 5px;
    border-bottom: solid 2px rgb(58, 129, 129);
    color: rgb(58, 129, 129);
    cursor: pointer;
}   */

/*
body section div h3 {
    float: left;
    color: blue;
    margin:20px 20px 20px 50px;
    min-width: 100px;
    padding: auto;
    border-right: solid red;
    padding:20px 20px 20px 50px;
}

body section div p {
    text-align: left;
    margin:20px;
}
*/