:root {
    --darkgrey:#303139; 
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(91, 92, 92);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    background-color: var(--darkgrey);
}

header h1 { 
    cursor: pointer;
    background-color: rgb(58, 129, 129);
    color: var(--darkgrey);
    margin-right: auto;
    padding: 5px 20px 5px 150px;
    font-size: 70px;
}

header nav {
    list-style: none;
    padding: 0px 60px 0px 0px;                                  
}

header nav ul li {
    display: inline-block;
    padding: 4px 7px; 
    margin: 0px 20px;
    border-bottom: solid 2px rgb(58, 129, 129);
    color: rgb(58, 129, 129);
    cursor: pointer;
}   

.banner {
    position: relative;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('images/Banner_Canva.png');
    padding: 100px;
}

.banner h2 {  
    position: absolute;
    bottom: 40px;
    right: 50px;
    vertical-align: center;
    align-content: center;
    background-color: red;
    padding: 5px;
}   

.content {
    flex-direction: column;
}

.content section {
    display: flex;
    color: rgb(58, 129, 129);
}

.content section article:nth-child(odd) {
    flex: .3;
    padding-left: 5px;
    width: max-content;
    text-align: right;
}

.content section article:nth-child(even) {
    border-left: solid red;
    padding-left: 40px;
}

.content section article{
    flex: 1;
    padding: 5px;
    margin: 20px;
}

.content h3 {
    font-size: 30px;
}